<html>
    <head>
        <title></title>
    </head>
    <body>
        <video id="localStream" width="300" controls></video>
        <label for="">Connection</label><br/>
        <textarea name="" id="txtMySignal" cols="100" rows="10"></textarea>
        <br>
        <input type="text" placeholder="Your friend's token" id="txtFriendSignal">
        <button id="btnConnect">Connect</button>
    </body>
    <script src="bundle.js"></script>
</html>